{% extends 'base.html' %}
{% block content %}
    <form action="" method="post">
        <h3 align="center">Add your food</h3>
        <div class="from-group">
            <label for="food_name">Food name</label>
            <input type="text" name="food_name" id="food_name" class="form-control" placeholder="Enter food name">
        </div>
        <div class="from-group">
            <label for="price">Price</label>
            <input type="text" name="price" id="price" class="form-control" placeholder="Enter price">
        </div>
        <div class="from-group">
            <label for="description">Description</label>
            <input type="text" name="description" id="description" class="form-control" placeholder="Enter description">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <ul class="list-group list-group-flush" id="foods">
         {% for food in user.foods %}
            {% if food %}
                <li class="list-goup-item">{{ food.name }} </li>
            {% endif %}
         {% endfor %}
    </ul>
{% endblock %}