{% extends 'base.html' %} {% block title %}Sign Up{% endblock %}
{% block content %}
    <form action="" method="post">
        <h3 align="center">Sign Up</h3>
        <div class="from-group">
            <label for="username">Username or Restaurant name</label>
            <input type="text" name="username" id="username" class="form-control" placeholder="Enter username">
        </div>
        <div class="from-group">
            <label for="email">Email Address</label>
            <input type="email" name="email" id="email" class="form-control" placeholder="Enter email">
        </div>
        <div class="from-group">
            <label for="city">City</label>
            <input type="text" name="city" id="city" class="form-control" placeholder="Enter city">
        </div>
        <div class="from-group">
            <label for="area">Area</label>
            <input type="text" name="area" id="area" class="form-control" placeholder="Enter area">
        </div>
        <div class="from-group">
            <label for="telephone">telephone</label>
            <input type="text" name="telephone" id="username" class="form-control" placeholder="Enter telephone">
        </div>
        <div class="from-group">
            <label for="telephone">Profile</label>
            <select name="profile" id="profile" class="form-control">
                <option value="">--Please choose a profile--</option>
                <option value="custumer">Customer</option>
                <option value="seller">Seller</option>
            </select>
            <!-- <input type="text" name="profile" id="profile" class="form-control" placeholder="Enter telephone"> -->
        </div>
        <div class="from-group">
            <label for="password">password</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="Enter password">
        </div>
        <div class="from-group">
            <label for="confirm_password">Confirm_password</label>
            <input type="password" name="confirm_password" id="confirm_password" class="form-control" placeholder="Enter confirm_password">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}